@import url("https://fonts.googleapis.com/css2? familia= Poppins:ital@1 &familia = Roboto & display=swap");
/*mapas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: black;
  font-style: italic;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  font-family: "Poppins", sans-serif; }

h2 {
  color: black;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif; }

h3 {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif; }

h4 {
  color: black;
  font-style: normal;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto", sans-serif; }

.animate__bounce {
  animation-iteration-count: infinite; }

ol {
  list-style-type: none; }

ul {
  list-style-type: none; }

ul li {
  display: inline-block; }
  ul li:hover {
    background-color: #4c03df; }

.neon:hover {
  background: #ba90ee;
  box-shadow: 0 0 5px #96deff, 0 0 25px #6ac9f5, 0 0 50px #35b6f1, 0 0 200px #1182b6; }

.buscador {
  min-height: 20vh;
  display: flex;
  align-items: center; }
  .buscador form {
    margin-left: 30px; }
    .buscador form div {
      display: flex;
      background: #fff;
      padding: 9px 22px 9px 26 px;
      border-radius: 30px;
      border: 2px solid #cad3dc;
      box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px, rgba(0, 0, 0, 0.1) 10px 10px 10px, rgba(255, 255, 255, 0.5) -8px -8px 15px inset, rgba(0, 0, 0, 0.1) 10px 10px 10px inset; }
      .buscador form div input {
        border: none;
        background: transparent;
        font-weight: bold;
        padding-left: 24px;
        background-image: url(../imagenes/lupa-buscador.png);
        background-size: 20px;
        background-repeat: no-repeat; }

.main {
  grid-area: main; }

.imagenParrafo {
  background-image: url(../imagenes/fifa22wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 2%;
  margin-bottom: 2%; }

.imagenParrafo1 {
  background-image: url(../imagenes/gta5-walpapper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 2%;
  margin-bottom: 2%; }

.imagenParrafo2 {
  background-image: url(../imagenes/granturismo7wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 2%;
  margin-bottom: 2%; }

.parrafoImagen1, .parrafoImagen2 {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.336);
  line-height: 1.3rem;
  letter-spacing: 0.2rem;
  width: 40%;
  position: relative;
  left: 50%;
  top: 22%; }

.parrafoImagen2 {
  left: 10%;
  top: 22%; }

.imagenesLinea1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 3%; }
  .imagenesLinea1 .fotoPs {
    display: flex;
    flex-direction: column; }
    .imagenesLinea1 .fotoPs img {
      width: 24vw;
      height: 70vh;
      object-fit: cover;
      box-shadow: 0px 0px 25px #000;
      border-radius: 10px; }

.genero {
  margin-top: 2%;
  font-style: oblique;
  font-weight: 900;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #292828;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }

.titulo {
  font-style: oblique;
  font-weight: 800;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #292828;
  letter-spacing: 0.1rem; }

.precio {
  font-weight: 800;
  font-size: 1rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: black;
  letter-spacing: 0.2rem; }

.table {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 900; }

.imagenesPsLinea {
  padding-top: 3%;
  padding-bottom: 3%; }
  .imagenesPsLinea img {
    width: 23vw;
    height: 68vh;
    object-fit: cover;
    box-shadow: 0px 0px 25px #000;
    border-radius: 10px; }

.container__grid {
  background-color: #9b5de5;
  background-image: radial-gradient(circle, #2e20c4, #4b26cb, #612dd3, #7534da, #873ce1);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }
  .container__grid .encabezado {
    grid-area: "header"; }
    .container__grid .encabezado .nav-bar {
      font-size: 3rem;
      font-family: "Poppins", sans-serif;
      font-style: oblique;
      color: black;
      background-color: #ba90ee1e;
      margin: auto;
      text-align: center;
      margin-bottom: 2%;
      position: relative; }
      .container__grid .encabezado .nav-bar .nav-icon {
        width: 15vw; }
        .container__grid .encabezado .nav-bar .nav-icon ul {
          display: flex; }
          .container__grid .encabezado .nav-bar .nav-icon ul a {
            padding-right: 3%;
            text-decoration: none; }

.pieDePagina {
  grid-area: footer;
  background-color: #ba90ee1e;
  position: relative; }
  .pieDePagina p {
    margin-top: 20px; }

.centrarAyuda {
  text-align: center;
  padding: 2%;
  margin: 2%; }

.parrafoAyuda {
  margin: 2%;
  font-size: 2rem; }

.centrarDondeEstamos {
  text-align: center;
  margin: 2%; }

.centrarMapa {
  text-align: center;
  margin: 2%;
  margin-bottom: 3%; }

.parrafoNosotros {
  margin: 2%;
  font-size: 2rem; }

.formulario {
  padding: 3%; }
  .formulario .botonFormulario {
    margin-top: 1%; }
    .formulario .botonFormulario textarea {
      min-height: 150px; }

.galeria-contenedor1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  padding: 0.75%;
  grid-gap: 0.75%;
  margin-top: 1%;
  margin-bottom: 3%;
  grid-template-areas: 'img5 img2 img2 img4' 'img5 img2 img2 img4' 'img8 img8 img3 img1' 'img6 img7 img7 img1'; }
  .galeria-contenedor1 .galeria_item__ps5 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }

.galeria_item__ps5::before {
  content: "PS5";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #17afd43d;
  opacity: value;
  transform: scale(0);
  transition: transform 2s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif; }

.galeria_item__ps5:hover::before {
  transform: scale(1) rotate(360deg); }

.galeria-contenedor2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  padding: 0.75%;
  grid-gap: 0.75%;
  margin-top: 1%;
  margin-bottom: 3%;
  grid-template-areas: 'img1 img1 img2 img2' 'img4 img3 img2 img2' 'img5 img5 img7 img8' 'img6 img6 img7 img8'; }
  .galeria-contenedor2 .galeria_item__ps4 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }

.galeria_item__ps4::before {
  content: "PS4";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0c2f6460;
  opacity: value;
  transform: scale(0);
  transition: transform 2s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif; }

.galeria_item__ps4:hover::before {
  transform: scale(1) rotate(360deg); }

.galeria-contenedor3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  padding: 0.75%;
  grid-gap: 0.75%;
  margin-top: 1%;
  margin-bottom: 3%;
  grid-template-areas: 'img1 img1 img2 img2' 'img8 img8 img2 img2' 'img3 img4 img6 img7' 'img3 img5 img6 img7'; }
  .galeria-contenedor3 .galeria_item__ps3 {
    position: relative;
    cursor: pointer;
    overflow: hidden; }

.galeria_item__ps3::before {
  content: "PS3";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0c2f6460;
  opacity: value;
  transform: scale(0);
  transition: transform 2s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif; }

.galeria_item__ps3:hover::before {
  transform: scale(1) rotate(360deg); }

.galeria_imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 1px #000;
  border-radius: 10px; }

.galeria_titulo {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
  width: 100%;
  margin: 0;
  border-radius: 10px; }

.galeria_item--img1 {
  grid-area: img1; }

.galeria_item--img2 {
  grid-area: img2; }

.galeria_item--img3 {
  grid-area: img3; }

.galeria_item--img4 {
  grid-area: img4; }

.galeria_item--img5 {
  grid-area: img5; }

.galeria_item--img6 {
  grid-area: img6; }

.galeria_item--img7 {
  grid-area: img7; }

.galeria_item--img8 {
  grid-area: img8; }

@media screen and (max-width: 768px) {
  ul li {
    display: flex;
    flex-direction: column; }
  ul li a {
    padding: 5px;
    font-size: 1rem;
    font-weight: bold; }
  h1 {
    margin-left: 5%;
    width: 330px; }
  h2 {
    margin-left: 5%;
    width: 330px; }
  .imagenParrafo {
    background-image: url(../imagenes/fifa22wallpaper-mq.jpg);
    height: 30vh; }
  .imagenParrafo1 {
    background-image: url(../imagenes/gta5-walpapper-mq.jpg);
    height: 30vh; }
  .imagenParrafo2 {
    background-image: url(../imagenes/granturismo7wallpaper-mq.jpg);
    height: 30vh; }
  .parrafoImagen1, .parrafoImagen2 {
    font-size: 0.7em;
    line-height: 0.7rem;
    letter-spacing: 0rem;
    font-weight: 900;
    width: 80%;
    left: 20%;
    left: 17%; }
  .parrafoImagen2 {
    font-size: 0.7em;
    line-height: 0.7rem;
    letter-spacing: 0rem;
    font-weight: 900;
    width: 80%;
    left: 5%; }
  .imagenesLinea1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 00.5%; }
    .imagenesLinea1 .fotoPs img {
      width: 90vw;
      height: 60vh; }
  .imagenesPsLinea img {
    width: 85vw;
    height: 65vh; }
  .centrarMapa iframe {
    height: 200%;
    width: 80%; }
  .galeria-contenedor1 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    width: 100%;
    padding: 0.5%;
    grid-gap: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 12%;
    grid-template-areas: 'img1 img3' 'img1 img4' 'img1 img4' 'img2 img2' 'img2 img2' 'img5 img7' 'img5 img8' 'img5 img6'; }
  .galeria-contenedor2 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    width: 100%;
    padding: 0.5%;
    grid-gap: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 12%;
    grid-template-areas: 'img1 img1' 'img2 img2' 'img2 img2' 'img3 img4' 'img5 img5' 'img6 img6' 'img7 img8' 'img7 img8'; }
  .galeria-contenedor3 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    width: 100%;
    padding: 0.5%;
    grid-gap: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 12%;
    grid-template-areas: 'img8 img8' 'img2 img2' 'img2 img2' 'img4 img4' 'img5 img5' 'img3 img6' 'img3 img6' 'img1 img7'; } }

.table {
  font-size: 0.75rem;
  font-weight: 900; }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  ul li {
    display: flex;
    flex-direction: column; }
  ul li a {
    padding: 5px;
    font-size: 3rem;
    font-weight: bold; }
  .imagenParrafo {
    background-image: url(../imagenes/fifa22wallpaper.jpg);
    height: 30vh; }
  .imagenParrafo1 {
    background-image: url(../imagenes/gta5-walpapper.jpg);
    height: 30vh; }
  .imagenParrafo2 {
    background-image: url(../imagenes/granturismo7wallpaper.jpg);
    height: 30vh; }
  .parrafoImagen1, .parrafoImagen2 {
    font-size: 1em;
    line-height: 1rem;
    letter-spacing: 0rem;
    font-weight: 700;
    width: 80%;
    left: 20%;
    left: 17%; }
  .parrafoImagen2 {
    font-size: 1em;
    line-height: 1rem;
    letter-spacing: 0rem;
    font-weight: 700;
    width: 80%;
    left: 5%; }
  .imagenesLinea1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 00.5%; }
    .imagenesLinea1 .fotoPs img {
      width: 80vw;
      height: 90vh; }
  .imagenesPsLinea img {
    width: 80vw;
    height: 90vh; }
  .responsiveContent {
    position: relative;
    width: 400px;
    height: 200px;
    /* height: 0;
        overflow: hidden;
        padding-bottom: 52.6%;
        margin-bottom: 10px;*/ }
    .responsiveContent iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .galeria-contenedor1 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    width: 100%;
    padding: 0.5%;
    grid-gap: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 3%;
    grid-template-areas: 'img5 img3 img3' 'img5 img1 img4' 'img5 img1 img1' 'img2 img2 img8' 'img2 img2 img8' 'img7 img7 img7'; }
  .galeria-contenedor2 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    width: 100%;
    padding: 0.5%;
    grid-gap: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 4.2%;
    grid-template-areas: 'img1 img1 img8' 'img2 img2 img8' 'img2 img2 img3' 'img6 img4 img4' 'img7 img4 img4' 'img7 img5 img5'; }
  .galeria-contenedor3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    width: 100%;
    padding: 0.5%;
    grid-gap: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 5%;
    grid-template-areas: 'img8 img8 img7' 'img2 img2 img7' 'img2 img2 img1' 'img4 img4 img6' 'img3 img5 img5' 'img3 img5 img5'; } }
