.container__grid {
    background-color: #9b5de5;
    background-image: radial-gradient(circle, #2e20c4, #4b26cb, #612dd3, #7534da, #873ce1);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    .encabezado {
        grid-area: "header";

        .nav-bar {
            font-size: map-get($tamañoFuente, normalita);
            font-family: $tipografia-general;
            font-style: map-get($estiloFuente, oblicua);
            color: map-get($colorFuente, negra);
            background-color: $color-fondo;
            margin: auto;
            text-align: center;
            margin-bottom: 2%;
            position: relative;

            .nav-icon {
                width: 15vw;

                ul {
                    display: flex;

                    a {
                        padding-right: 3%;
                        text-decoration: none;
                    }
                }
            }
        }

    }
}

.pieDePagina {
    grid-area: footer;
    background-color: $color-fondo;
    position: relative;

    p {
        margin-top: 20px;
    }
}

