$tipografia-general: 'Poppins', sans-serif;
$tipografia-alternativa: 'Roboto', sans-serif;

$color-fuente: black;
$color-secundario: rgb(41, 40, 40);

$fuente-normal: 3rem;
$fuente-mediana: 2rem;
$fuente-chica: 1.5rem;
$fuente-muy-chica: 1rem;


$estilo-fuente-primario: italic;
$estilo-fuente-normal: normal;
$estilo-fuente-oblicua: oblique;
$estilo-fuente-inherit: inherit;

$estilo-negrita: bolder;
$estilo-negrita-suave: bold;
$estilo-suave: lighter;

$color-fondo: #ba90ee1e;