$tipografia-general: 'Poppins', sans-serif;
$tipografia-alternativa: 'Roboto', sans-serif;

$color-fondo: #ba90ee1e;

$colorFuente: (
    negra: black,
    gris: rgb(41, 40, 40),
    blanca: white
);


$tamañoFuente: (
    normalita: 3rem,
    mediana: 2rem,
    chica: 1.5rem,
    muy-chica: 1rem,
);

$estiloFuente: (
    italica: italic,
    normalita: normal,
    oblicua: oblique,
    inherit: inherit
);

$pesoFuente :(
    negrita-fuerte: bolder,
    negrita: bold,
    sueve: lighter,
    novecientos: 900,
    ochocientos: 800,
    setecientos: 700
);